<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Skytravel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "border-right: solid white;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Admin/Index" style="cursor:pointer; color: white;">Home  </a></li>
                    <li><a href="/Admin/Airports" style="cursor:pointer; color: white;">Airports  </a></li>
                    <li><a href="/Admin/Airplanes" style="cursor:pointer; color: white;">Airplanes  </a></li>
                    <li><a href="/Admin/Customers" style="cursor:pointer; color: white;">Customers   </a></li>
                    <li><a href="/Admin/Flights" style="cursor:pointer; color: white;">Flights  </a></li>
                    <li><a href="/Admin/Orders" style="cursor:pointer; color: white;">Orders  </a></li>
                    <li><a href="/Admin/Routes" style="cursor:pointer; color: white;">Routes   </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Admin/LogOut" style="cursor:pointer; color: white;">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
