<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Skytravel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Admin/Airports" style="cursor:pointer;">Airports  </a></li>
                    <li><a href="/Admin/Airplanes" style="cursor:pointer;">Airplanes  </a></li>
                    <li><a href="/Admin/Customers" style="cursor:pointer;">Customers   </a></li>
                    <li><a href="/Admin/Flights" style="cursor:pointer;">Flights  </a></li>
                    <li><a href="/Admin/Routes" style="cursor:pointer;">Routes   </a></li>
                    <li><a href="/Admin/Routes" style="cursor:pointer;">Routes   </a></li>
                </ul>
            </div>
        </div>
    </div>
