@model IEnumerable<WebApplication3.Model.Airplane>

@{
    ViewBag.Title = "Airplanes";
}

<h2>Airplanes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="accordion" class="panel-group">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" id="heading@(item.Id)">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(item.Id)">
                        @Html.DisplayFor(modelItem => item.Model)
                        @Html.DisplayFor(modelItem => item.Seats)   <!--Må nok endres etterhvert, evt slett om ikke trenger fly-->
                    </a>
                </h4>
            </div>
            <div id="collapse@(item.Id)" class="panel-collapse collapse" role="tabpanel" data-parent="#accordion">
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
    }
</div>