@model IEnumerable<WebApplication3.Model.Route>

@{
    ViewBag.Title = "Routes";
}

<h2>Routes</h2>


<div id="accordion" class="panel-group">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" id="heading@(item.Id)">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(item.Id)">
                        Her skal fly, fra og til, evt dato
                    </a>
                </h4>
            </div>
            <div id="collapse@(item.Id)" class="panel-collapse collapse" role="tabpanel" data-parent="#accordion">
                <div class="panel-body">
                    @Html.DisplayFor(modelItem => item.FlightTime)
                </div>
            </div>
        </div>
    }
</div>
