
@{
    ViewBag.Title = "Overview";
}
@model WebApplication3.Models.Order

<link rel="stylesheet" type="text/css" href="~/Content/CSS_files/Overview.css" />

<div id="skyScannerContainer">

@if (Model != null)
{
    <div id="overviewContainer">
        <br />
        <h2 class="flightOrderedHeader">
            Congratulations, your flight is ordered!
            <span><img src="~/Content/images/green_checkmark.png" style="width: 30px; height: 20px; margin-bottom: 5px;" /></span>
            <br />
            <br />
        </h2>

        <h3 class="flightOrderedHeader" style="color: dimgray;">
            Your reference number is:
            <span style="color: green;">@Model.Reference</span>
        </h3>
    </div>
}

<br /><br />

@Html.Partial("_OrderView", Model)

</div>




