
@{
    ViewBag.Title = "Overview";
}
@model WebApplication3.Models.Order

<h2>Overview</h2>

@Html.Partial("_OrderView",Model)

@if (Model != null)
{
    <p id="referenceNumber">@Model.Reference</p>
}




