
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

@{
    var order = (WebApplication3.Models.Order)Session["Order"];
    if (order != null)
    {
        <p>@order.Customer.Firstname</p>
    }
}



